<p id="notice"><%= notice %></p>
<h1>Articles</h1>
<div class="row">
  <%= search_form_for @search, remote: true do |f| %>
    <div class="field">
      <%= f.text_field :title_cont, id: "title-search", placeholder: 'Title', class: 'col-md-4' %>
    
      <%= f.text_field :description_cont, id: "title-search" , placeholder: 'Description', class: 'col-md-4' %>
    
      <%= f.submit "Search" %>
    </div>
  <% end %>
</div>
<a data-toggle="modal" href="#new-article" style="margin:15px; float:right;">New Article</a>

<div id="articles">
  <%= render 'list', search: @search, articles: @articles, pagy: @pagy %>
</div>



<div id="edit-article" class="modal" tabindex="-1" role="dialog"></div>



