<p id="notice"><%= notice %></p>
<h1>Articles</h1>
<%= search_form_for @search, remote: true do |f| %>
    <div class="field">
      <%= f.text_field :title_cont, id: "title-search" %>
    </div>
    <div class="actions">
      <%= f.submit "Search" %>
    </div>
  <% end %>
<a data-toggle="modal" href="#new-article" style="margin:15px; float:right;">New Article</a>

<div id="articles">
  <%= render 'list', search: @search, articles: @articles %>
</div>
<br>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
<br>






